<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="custom.lx.com.customview">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/iron_man"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/iron_man"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".recyclerview.RecyclerMainActivity" />
        <activity android:name=".recyclerview.NativeRecyclerActicity" />
        <activity android:name=".recyclerview.RecyclerWithBaseAdapter" />
        <activity android:name=".recyclerview.XRecyclerViewActivity" />
        <activity android:name=".animation.AnimationMainActivity" />
        <activity android:name=".animation.FrameAnimationActivity" />
        <activity android:name=".animation.TweenAnimationActivity" />
        <activity android:name=".animation.PropertySimpleAnimationActivity" />
        <activity android:name=".animation.PropertyViewAnimation" />
    </application>

</manifest>